@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --bankgreen: #33b864;
}

* {
    font-family:"JetBrains Mono";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
}

body {
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    cursor: url('../Cursores/3b4771f0add5471b844df257e674bf226XDXLaaerh3fSxb9-4.png'), auto;
}

.custom-cursor {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.site-wide {
    width: 15px;
    height: 15px;
    background-image: url('../Cursores/3b4771f0add5471b844df257e674bf226XDXLaaerh3fSxb9-4.png');
}

#form {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#titulo {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

input {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--bankgreen);
    border-radius: 5px;
    margin-bottom: 20px;
}

input:focus {
    background-color: #33b86470;
    color: grey;
    outline: none;
    transition: 0.3s;
}

button {
    border: none;
    background-color: var(--bankgreen);
    color: white;
    padding: 25px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: var(--bankgreen);
    border: 3px solid var(--bankgreen);
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas para os números */
    gap: 10px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button.btn {
    width: 70px;  /* Aumentei a largura do botão */
    height: 50px; /* Mantive a altura */
    background-color: var(--bankgreen);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
    display: flex;            /* Alinha o conteúdo dentro do botão */
    justify-content: center; /* Alinha o texto na horizontal */
    align-items: center;     /* Alinha o texto na vertical */
    white-space: nowrap;     /* Garante que o texto não quebre */
    transition: 0.3s;
}

button.btn:hover {
    background-color: white;
    color: var(--bankgreen);
    border: 3px solid var(--bankgreen);
}

.delete {
    width: 150px;
    height: 50px;
    background-color: var(--bankgreen);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    grid-column: span 3; /* Faz o botão de delete ocupar a largura de toda a linha */
    display: flex;            /* Alinha o conteúdo dentro do botão */
    justify-content: center;  /* Alinha o texto na horizontal */
    align-items: center;      /* Alinha o texto na vertical */
}

.delete:hover {
    background-color: white;
    color: var(--bankgreen);
    border: 3px solid var(--bankgreen);
}

#cadastro {
    text-align: center;
}

#cadastro h2 {
    margin-top: 20px;
    font-size: 22px;
}

.cadastrar {
    border: none;
    background-color: var(--bankgreen);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 10px;
}

.cadastrar:hover {
    background-color: white;
    color: var(--bankgreen);
    border: 3px solid var(--bankgreen);
}
