<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/home.css">
    <script src="../static/app.js" defer></script>
    
</head>
<body>

    <div id="form">
        <div class="titulo">Login</div>

        <div class="form-div">
            <form action="/login" id="login" method="post">
                <div class="form-space">
                    <label for="user" class="login-labels">Usuário</label>
                    <input type="text" name="user" required placeholder="Digite seu usuário">
                </div>
                <div class="form-space">
                    <label class="login-labels">Senha</label>
                    <input type="password" name="senha" required placeholder="Use o teclado virtual para inserir sua senha!">
                </div>
            </form>
        </div>

        <div class="buttons-div">
            <form action="/login" method="post">
                <button class="my-button" type="submit" id="btn_login">ENTRAR</button>
            </form>
            <form action="/path">
                <button id="cadastrar" class="my-button" type="submit" id="redirect">CADASTRAR</button>
            </form>
        </div>

        <div class="container">
            
        </div>
        

    </div>

</body>
</html>
