<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/home.css">
    <script src="../static/app.js" defer></script>

</head>
<body>
    <div id="form">
        <div id="titulo">
            Login
        </div>
            <form action="/login" id ="login" method="post">
                <label for="user">Usuário</label>
                <input type="text" name="user" id="user" required placeholder="Digite seu usuário"><br>
                <label for="senha" id="senha">Senha</label>
                <input type="password" name="senha" id="pass" required placeholder="Use o teclado virtual para inserir sua senha!"><br>
                <button class = "entrar" type="submit" id="btn_login">ENTRAR</button>
            </form>
        <div class = "container">
            <div class="keyboard">
                    <!-- <div class="row">
                        <button class = "btn">1</button>
                        <button class = "btn">2</button>
                        <button class = "btn">3</button>
                        
                    </div>
                    <div class="row">
                        <button class = "btn">4</button>
                        <button class = "btn">5</button>
                        <button class = "delete">Delete</button></div> -->
                {% for i in range(0, sequencia|length, 2) %}
                    <div class="row">
                        <button class="btn" data-primeiro="{{ sequencia[i] }}" data-segundo = "{{ sequencia[i+1] }}">{{ sequencia[i] }} ou {{ sequencia[i+1] }}</button>
                                    <!-- {% if i+2 < sequencia|length %}
                                     <button class="btn" data-primeiro="{{ sequencia[i+2] }}" data-segundo="{{ sequencia[i+3] }}">{{ sequencia[i+2] }}{{ sequencia[i+3] }}</button> -->
                                    <!-- {% endif %} -->
                    </div>
                {% endfor %}
                <button class = "delete">Delete</button>
            </div>
                            
        </div>
            <div id="cadastro">
                <h2>Novo aqui?</h2>
                <form>
                    <button class = "cadastrar" type="submit" formaction="/path" id="redirect">Cadastrar</button>
                </form>
            </div>
    </div>
</body>
</html>